/node_modules
/public/hot
/public/storage
/public/css/*
/public/js/*
/public/uploads/*
/storage/*.key
/vendor
/tests
/.idea
/.idea_modules
composer.lock
package-lock.json
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.editorconfig
.env.example
.gitattributes